body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex: 1;
}
.sidebar {
    width: 300px;
    background-color: #343a40;
    color: #fff;
    min-height: 100vh;
    position: fixed;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}
.main-content {
    margin-left: 300px;
    padding: 20px;
    flex:1;
}